################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/avataraccessory.xml
/mapicon.xml
/nameplate.xml
/systemvoice.xml
/ticket.xml
/trophy.xml
